[tool.poetry]
name = "kghub-downloader"
version = "0.1.6"
description = "Downloads and caches files for knowledge graph ETL"
authors = ["The Monarch Initiative <info@monarchinitiative.org>"]

[tool.poetry.dependencies]
python = "^3.7"
elasticsearch = "^>7.0, <9.0"
compress-json = ">1.0, <2.0"
PyYAML = ">5.0,<7.0"
tqdm = "^4.62.3"
google-cloud-storage = "^2.1.0"

[tool.poetry.dev-dependencies]
pytest = "^6.2.5"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
